.menu-item {
  @include y-padding($spacing--sm);
  display: block;

  .feather {
    display: inline-block;
    height: 1.3rem;
    margin-right: $spacing--sm;
    stroke: $color--primary;
    width: 1.3rem;
  }
}
