.review-form {
  @include y-margin($spacing--lg);
  @include y-padding($spacing--lg);
  @include x-padding($spacing--base);
  background-color: $color--white;
  border: 1px solid rgba($color--black, .1);
  border-radius: .3rem;

  &__title {
    border-bottom: 1px solid rgba($color--black, .1);
    font-family: $font-family--heading;
    font-size: $font-size--xl;
    font-weight: $font-weight--semibold;
    margin-bottom: $spacing--base;
    padding-bottom: $spacing--sm;
  }

  &__group {
    @include y-padding($spacing--sm);
    display: flex;
    flex-direction: column;

    @media (min-width: $screen--lg) {
      flex-direction: row;
    }
  }

  label {
    margin-bottom: $spacing--xs;
    min-width: 15%;

    span {
      color: $color--primary;
    }
  }

  &__input {
    @include y-padding($spacing--sm);
    @include x-padding($spacing--sm);
    border: 1px solid rgba($color--black, .3);
    border-radius: .2rem;
    max-width: 100%;
    outline: none;

    @media (min-width: $screen--md) {
      width: 100%;
    }

    &:focus {
      border: 1px solid $color--primary;
    }
  }

  &__footer {
    margin-top: $spacing--base;
  }

  &__button {
    @include y-padding($spacing--base);
    @include x-padding($spacing--lg);
    background-color: $color--secondary;
    border: 0;
    cursor: pointer;
    font-size: $font-size--base;

    @media (min-width: $screen--lg) {
      margin-left: 15%;
    }
  }

  &__error {
    @include y-padding($spacing--base);
    @include x-padding($spacing--base);
    background: rgba($color--primary, .8);
    color: $color--white;
    margin-bottom: $spacing--base;
  }
}
