@import '../base';

.card {
	background-color: $color--white;
	border-radius: $spacing--sm;
	box-shadow: 0 1px 3px 0 rgba($color--black, 0.1), 0 1px 2px 0 rgba($color--black, 0.06);
	color: $color--black;
	display: block;
	overflow: hidden;
	text-decoration: none;
	transition: box-shadow .3s;

	&:hover,
	&:focus {
		box-shadow: 0 2px 15px 0 rgba($color--black, 0.1), 0 2px 14px 0 rgba($color--black, 0.06);

		.card__image {
			transform: scale(1.05);
		}

		.card__title {
			color: $color--primary;
		}
	}

	&__header {
		height: 12rem;
		overflow: hidden;
		position: relative;
	}

	&__image {
		background-color: rgba($color--black, .15);
		height: inherit;
		object-fit: cover;
		object-position: center;
		transition: transform .3s;
		width: 100%;
	}

	&__badge {
		@include y-padding($spacing--sm);
		@include x-padding($spacing--base);
		background-color: rgba($color--primary, .9);
		box-shadow: 0 1px 3px 0 rgba($color--black, 0.1), 0 1px 2px 0 rgba($color--black, 0.06);
		color: $color--white;
		display: inline-block;
		font-size: $font-size--sm;
		left: 0;
		position: absolute;
		top: $spacing--sm;
	}

	&__body {
		@include y-padding($spacing--base);
		@include x-padding($spacing--base);
		margin-bottom: $spacing--sm;

		@media (min-width: $screen--md) {
			@include x-padding($spacing--lg);
		}

		@media (min-width: $screen--lg) {
			@include x-padding($spacing--base);
		}
	}

	&__title {
		@include y-padding($spacing--sm);
		font-family: $font-family--heading;
		font-size: $font-size--xl;
	}
}

.feather {
	display: inline-block;
	height: 1rem;
	margin-right: $spacing--xs;
	padding-bottom: .2rem;
	width: 1rem;

	&-star {
		fill: $color--secondary;
		height: 1.2rem;
		stroke: $color--secondary;
		width: 1.2rem;
	}
}
