<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Restooo - Wake up your taste buds</title>
	<meta name="description" content="Mini web to find a nearby restaurant from your location">
	<meta name="theme-color" content="#982121">
	<link rel="manifest" href="./manifest.json">
	<link rel="shortcut icon" href="./images/logo/restooo-logo.svg" type="image/x-icon">
	<link rel="apple-touch-icon" href="./icons/icon-192x192.png">
	<link href="https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Open+Sans:wght@400;600&family=Pacifico&display=swap" rel="stylesheet">
	<noscript>You have to enable JavaScript to run this app</noscript>
</head>

<body>
	<a href="#main-content" class="skip-to-content">Skip to content</a>
	<header class="header">
		<div class="header__inner">
			<div class="header__brand">
				<h1 class="header__title"><a href="#" class="header__link"> <img src="./images/logo/restooo-logo.svg" alt="Restooo Logo" class="header__logo">	Restooo</a></h1>
				<button class="nav-button" aria-label="menu" id="menu-button">
					<span class="nav-button__icon" aria-hidden="true"></span>
					<span class="nav-button__icon" aria-hidden="true"></span>
					<span class="nav-button__icon" aria-hidden="true"></span>
				</button>
			</div>
			<nav class="navbar">
				<ul class="nav" id="navigation-drawer">
					<li class="nav__item">
						<a href="./#/home" class="nav__link"><i class="icon icon--nav" data-feather="home" aria-hidden="true"></i> Home</a>
					</li>
					<li class="nav__item">
						<a href="./#/favorite" class="nav__link"><i class="icon icon--nav" data-feather="heart" aria-hidden="true"></i> Favorite</a>
					</li>
					<li class="nav__item">
						<a href="https://linkedin.com/in/dikisiswanto" class="nav__link" rel="noopener" target="_blank"> <i class="icon icon--nav" data-feather="info" aria-hidden="true"></i> About Us</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main id="main-content">
		<section class="content" id="content">
			<loading-bar></loading-bar>
		</section>
	</main>
	<footer class="footer">
		<div class="footer__inner">
			<span>Copyright &copy; 2020 - <strong>Restooo</strong>. Designed with <i data-feather="heart" class="icon icon--rating"></i> by <a href="https://linkedin.com/in/dikisiswanto" target="_blank" rel="noopener">Diki Siswanto</a></span>
		</div>
	</footer>
</html>