// Import base
@import './base';

// Import components
@import './components/header';
@import './components/navbar';
@import './components/card-list';
@import './components/card';
@import './components/content';
@import './components/detail';
@import './components/favorite-button';
@import './components/hero';
@import './components/icon';
@import './components/info';
@import './components/loading-bar';
@import './components/menu-item';
@import './components/menu-list';
@import './components/review-form';
@import './components/review-item';
@import './components/footer';

body {
  background-color: $color--background;
  color: $color--primary-text;
  display: flex;
  flex-direction: column;
  font-family: $font-family--body, sans-serif;
  font-size: $font-size--base;
  min-height: 100vh;
}

.container {
  @include container;
}

.skip-to-content {
  @include y-padding($spacing--sm);
  @include x-padding($spacing--base);
  background-color: $color--black;
  color: $color--secondary;
  display: inline-block;
  left: 1rem;
  opacity: 0;
  position: absolute;
  text-decoration: none;
  top: 5rem;
  transition: all .2s;
  z-index: -1;

  &:focus {
    opacity: 1;
    text-decoration: underline;
    z-index: 60;
  }
}

main {
  flex: 1;
}
