// Import utilities
@import './utilities/resets';
@import './utilities/variables';
// Import components
@import './components/header';
@import './components/navbar';
@import './components/hero';
@import './components/content';
@import './components/card';
@import './components/icon';
@import './components/footer';

body {
	font-family: $font-family--body, sans-serif;
	background-color: $color--background;
	font-size: $font-size--base;
	color: $color--primary-text;
}

.container {
	@include container;
}

.skip-to-content {
	@include y-padding($spacing--sm);
	@include x-padding($spacing--base);
	position: absolute;
	display: inline-block;
	top: 5rem;
	left: 1rem;
	z-index: 60;
	background-color: $color--black;
	color: $color--secondary;
	text-decoration: none;
	opacity: 0;
	transition: all .2s;

	&:focus {
		opacity: 1;
		text-decoration: underline;
	}
}